.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://miro.medium.com/max/3840/1*_gg1Te-7SJfk9E2D-mORfw.png");
    background-size: cover;
  }
  
  .loginTitle {
    font-size: 50px;
    font-family: 'Varela Round', sans-serif;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  .loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(235, 142, 108);
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
  }